@import "tailwindcss";
@font-face {
  font-family: 'vazir';
  src: url('/fonts/ttf/Vazirmatn-RD-Medium.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: 'vazir';
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'vazir';
}
:root {
  --bg-primary: #0f172a;       
  --bg-sec: #1e293b;           
  --text-clr: #e2e8f0;       
  --text-2: #c7d2fe;          
  --hover-text-clr: #2563eb; 
  --err-text-clr: #ef4444;    
  --icon-clr: #94a3b8;      
  --success-clr: #22c55e;     
  --err-clr: #dc2626;         
  --border-clr: #334155;      
  --input-bg: #1e293b;        
  --input-border: #3b82f6;   
  --btn-bg : #2563eb; 
}
svg {
  width: 24px;
  height: 24px;
  fill: var(--icon-clr) !important;
}
.scroll-cus {
  scrollbar-width: thin;
  scrollbar-color: #d1d5db transparent;
}
.scroll-cus::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar {
  width:8px;
}

::-webkit-scrollbar-track {
  background: var(--bg-sec);
}

::-webkit-scrollbar-thumb {
  background: var(--text-2);
  border-radius: 1rem;
}

